﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SmsFromServicePage.ascx.cs" Inherits="Intranet.DesktopModules.IsargaranProject.Isargaran.SMS.SmsFromServicePage" %>
<asp:Label CssClass="LabelCSS" ID="Label1" runat="server" Text="Label"></asp:Label>